<!--<h1>{{title}}</h1>
<h2>{{hero.name}} details!</h2>
<div><label>id: </label>{{hero.id}}</div>
<div><label>name: </label>{{hero.name}}</div>-->
<!--<div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
</div>
<div><label>extra: </label>{{hero.extra}}</div>-->

<h3>admin profile</h3>
<img src="../../assets/images/profile.png" />
<div style="margin-bottom: 10px;">
    <img id="profile-pic" class="img-circle" [src]=user.picture />
</div>
<h4>{{user.login}} {{user.picture}}</h4>


